# IDEs and Editors
.idea/
.vscode/*
!.vscode/settings.json
.project
.classpath
.settings/
.history/*

# Python Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# System files
.DS_Store
Thumbs.db
